1 TYPELIB "C:\\Users\\OTA\\Desktop\\书籍出版\\程序\\6.第六章\\Exercise6.7-FM-COM\\FMDemodRTLSDR_COM\\for_testing\\FMDemodRTLSDR_COM_idl.tlb"
2 RT_RCDATA "C:\\Users\\OTA\\Desktop\\书籍出版\\程序\\6.第六章\\Exercise6.7-FM-COM\\FMDemodRTLSDR_COM\\for_testing\\FMDemodRTLSDR_COM.ctf"
  
